Esta é uma mensagem de confirmação que as notificações via WhatsApp da Plataforma de Rastreamento estão habilitadas para seu usuário.\n\nNão respondemos mensagens por aqui, é somente para envio de alertas.\n\nObrigado por usar nossos serviços.